.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Indirect_connections -- Transmog errors appendix.csv
Indirect_connections 08-10-2016.csv
Indirect_connections 21-10-2016.csv
Indirect_connections -- Transmog 31-10-2016.csv
Migraine Nieuw.Rproj
Indirect_Transmog_all 31-10-2016.csv
